<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title class="logo-title">QuickBite</ion-title>
      
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
